/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  margin: 0;
  background-image: url("../img/bgtile.png");
  background-repeat: repeat-x;
/*  background-image: linear-gradient(to bottom, #1C5380 38%, #FFFFFF 38%);*/
}

.container {
margin: 50px 150px;
padding: 20px;
display: flex;
flex-direction: row;
}

.content {
  padding: 50px 100px;
}

footer {
    text-align: center;
}

h2 {
  color: #06365f;
}

a {
  padding: 10px;
}

img {
  padding-right: 20px;
}
